Version.h
.DS_STORE
Thumbs.db
*.sublime-workspace

/cmake-build-debug
/cmake-build-release
/cmake-build-relwithdebinfo
/build-debug
/build-release
/build
/build-measure
/codeblocks
/Xcode*
/vs2010
/vs2012
/vs2013
/vs2015
/vs2017
/vs2019
/.idea
/coverity

app/resources/documentation/help/index.html

app/resources/games-testing/Wrath
app/resources/games-testing/SteelStorm
