Version.h
.DS_STORE
Thumbs.db
*.sublime-workspace
.vscode
.cache

/cmake-build-*
/build*
/codeblocks
/Xcode*
/vs2010
/vs2012
/vs2013
/vs2015
/vs2017
/vs2019
/.idea
/coverity

app/resources/documentation/help/index.html
CMakeLists.txt.user
