version: 2.0.0-appveyor-{build}
install:
- cinst pandoc 
- ps: Invoke-WebRequest 'https://github.com/wxWidgets/wxWidgets/releases/download/v3.1.0/wxWidgets-3.1.0-headers.7z' -OutFile 'headers.7z'
- ps: Invoke-WebRequest 'https://github.com/wxWidgets/wxWidgets/releases/download/v3.1.0/wxMSW-3.1.0_vc140_Dev.7z' -OutFile 'dev.7z'
- ps: Invoke-WebRequest 'https://github.com/wxWidgets/wxWidgets/releases/download/v3.1.0/wxMSW-3.1.0_vc140_ReleaseDLL.7z' -OutFile 'dll.7z'
- ps: Invoke-WebRequest 'https://github.com/wxWidgets/wxWidgets/releases/download/v3.1.0/wxMSW-3.1.0_vc140_ReleasePDB.7z' -OutFile 'pdb.7z'
- ps: if ("c1b33a1e9c245b76031461b8cdc1fea8f6c68904" -ne (Get-FileHash -Path "headers.7z" -Algorithm SHA1).Hash) { exit }
- ps: if ("23813ed6625253abf1465e9730f0a1cbf0b0da00" -ne (Get-FileHash -Path "dev.7z" -Algorithm SHA1).Hash) { exit }
- ps: if ("30394ed5b8fad0307c6dc1c12c47b8bd53214e87" -ne (Get-FileHash -Path "dll.7z" -Algorithm SHA1).Hash) { exit }
- ps: if ("89912076136882dcec79eba8e27a111cbdaf20be" -ne (Get-FileHash -Path "pdb.7z" -Algorithm SHA1).Hash) { exit }
- ps: 7z x headers.7z -oc:\wxWidgets-3.1.0
- ps: 7z x dev.7z -oc:\wxWidgets-3.1.0
- ps: 7z x dll.7z -oc:\wxWidgets-3.1.0
- ps: 7z x pdb.7z -oc:\wxWidgets-3.1.0
build_script:
- ps: >-
    $env:Path += ";c:\wxWidgets-3.1.0\lib\vc140_dll"

    $env:WXWIN="c:\wxWidgets-3.1.0"

    $env:Path += ";C:\Program Files (x86)\Pandoc"

    mkdir cmakebuild

    cd cmakebuild

    cmake .. -G"Visual Studio 14 2015" -T v140_xp -DCMAKE_BUILD_TYPE=RelWithDebInfo  -DCMAKE_CXX_FLAGS=/WX

    msbuild PACKAGE.vcxproj /p:Configuration=RelWithDebInfo /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

    if ($LastExitCode -ne 0) { throw "Building TrenchBroom failed" }

    .\RelWithDebInfo\TrenchBroom-Test.exe
artifacts:
- path: cmakebuild\*.7z
deploy:
  description: 'release description'
  provider: GitHub
  auth_token:
    secure: 'kTa/cPIBtiixoSjXq1WoVD04ZFzbGhTPcPChAkh99Kf5Sqhy+kE8E3jUYe28nPDO'
  draft: true
  prerelease: false
  on:
    appveyor_repo_tag: true
