image: Visual Studio 2019
version: 2.0.0-appveyor-{build}
branches:
  only:
    - master
    - /v.*/
environment:
  matrix:
    - TB_ARCH: Win32
      QT5_INSTALL_DIR: 'C:\Qt\5.12\msvc2017'
      PATH: '%Qt5_INSTALL_DIR%\bin;%PATH%'
    - TB_ARCH: x64
      QT5_INSTALL_DIR: 'C:\Qt\5.12\msvc2017_64'
      PATH: '%Qt5_INSTALL_DIR%\bin;%PATH%'
install:
- cinst pandoc
- cinst cppcheck
clone_depth: 50
build_script:
- cmd: call appveyor.bat
artifacts:
- path: cmakebuild\*.7z
- path: cmakebuild\*.7z.md5
deploy:
  description: 'release description'
  provider: GitHub
  auth_token:
    secure: 'xTcTfr+JiHlF5y4sSlB6so7fIGM1d+39JtNoaeeqtdEmucEqASb/xhs60ayi4mUm'
  draft: true
  prerelease: false
  on:
    appveyor_repo_tag: true
