<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GamePath</key>
	<string>/Applications/Quake</string>
	<key>InspectorSeparateWindow</key>
	<false/>
	<key>GameExecutable</key>
	<string>QuakeSpasm</string>
	<key>InspectorVisible</key>
	<true/>
	<key>CameraNearClippingPlane</key>
	<integer>10</integer>
	<key>CameraFarClippingPlane</key>
	<integer>10000</integer>
	<key>CameraFov</key>
	<integer>90</integer>
</dict>
</plist>
