body {
	margin: 20px;
	padding: 0;
	font-family: Helvetica, "Sans-serif";
	background-color: rgb(227, 231, 235);
}

a {
	text-decoration: none;
}

div#TOC {
	top: 0px;
	left: 0px;
	width: 310px;
	float: left;
	overflow: hidden;
	position: absolute;
	padding: 10px;
}

div#TOC ul {
	margin: 0px;
	padding-left: 20px;
	font-weight: bold;
}

div#TOC ul ul {
	font-weight: normal;
}

div#CONTENT {
	top: 0px;
	left: 320px;
	padding-left: 20px;
	float: left;
	overflow: hidden;
	position: absolute;
	background-color: white;
}
