/* ##### Responsive ########## */

@media only screen and (max-width: 930px) {
    /* Code, Figure and Table */

    pre, figure, table {
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    /* List */

    dl dd {
        margin-left: var(--spacing-x15000);
    }
    
    ol, ul {
        margin-left: var(--spacing-x15000);
    }

    /* Figure */

    figure {
        display: block;
    }

    /* Image */

    p img {
        display: block;
        float: inherit;
        margin: 0 auto var(--spacing-x10000);
    }

    /* Table of Contents & Content */

    body #toc, body #content {
        margin-left: 50px;
    }

    /* Table of Contents */

    body #toc_toggler {
        display: flex;
    }

    body #toc {
        display: none;
        min-width: calc(100vw - 50px);
        max-width: calc(100vw - 50px);
        right: 0;
    }

    body.toc_toggled #toc {
        display: block;
    }

    /* Content Version */

    body #content_version #content_version_details img {
        display: none;
    }

    body #content_version #content_version_details div, body #content_version #content_version_links {
        align-items: center;
    }

    body #content_version {
        flex-direction: column;
    }

    body #content_version #content_version_links {
        margin-top: var(--spacing-x05000);
        margin-left: inherit;
    }

    /* Table of Contents and Content */

    body #toc_toggler, body #toc, body #content {
        padding: var(--spacing-x10000);
    }

    /* Back to Top */

    body #content a[href="#"] {
        display: none;
    }
}
