[Desktop Entry]
Exec=trenchbroom %F
GenericName=Level Editor
Comment=Cross-Platform Level Editor
Icon=trenchbroom
Name=TrenchBroom
Terminal=false
Type=Application
Categories=Game
Keywords=quake;level;editor;
MimeType=text/x-quakemap;
