[Desktop Entry]
Exec=trenchbroom
GenericName=Level Editor
Comment=Level Editor
Icon=trenchbroom
Name=TrenchBroom
Terminal=0
Type=Application
Categories=Game
Keywords=quake;level;editor;

