body {
	font-family: Helvetica, "Sans-serif";
}

p, li, div {
	font-size: 10pt;
}

p {
	margin-bottom: 20px;
	text-align: justify;
	text-indent: 30px;
}

p.no-justify
{
	text-align: left !important;
}

p.no-indent {
	text-indent: 0px;
}

a {
	color: rgb(235,125,0);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

span.tocLevel1 {
	font-weight: bold;
}

div#container {
	width:640px;
	padding: 10px;
}

div.images {
	padding: 10px;
	text-align: center;
	background-color: #999999;
	border: 2px solid #333333;
	border-radius: 5px;
}

div.imagecaption {
	margin-top: 5px;
	text-align: center;
	font-weight: bold;
}

img.inline {
	float: left;
	padding: 10px;
	background-color: #999999;
	border: 2px solid #333333;
	border-radius: 5px;
}

ul.menu {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.menu li {
	padding: 5px;
}

ul.menu li.header {
	font-weight: bold;
}

ul.menu li.active {
	padding-left: 15px;
	cursor: pointer;
	color: #000000;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    right bottom,
	    color-stop(0.1, rgb(255,255,255)),
	    color-stop(0.9, rgb(235,125,0))
	);
}

ul.menu li.inactive {
	padding-left: 15px;
	cursor: pointer;
	color: #666666;
}

ul.menu li.inactive:hover {
	text-decoration: underline;
}

ul.menu li {
	border-top: 1px solid #666666;
}

ul.menu li:last-child {
	border-bottom: 1px solid #666666;
}

ul.submenu {
	display:none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul.submenu li {
	line-height: 30px;
}

ul.submenu a {
	color: #000000;
}

span.monospace_text
{
	display:inline;
	white-space: nowrap;
	background-color:#EEEEEE;
	border:1px solid #999999;
	padding:0px 2px 0px 2px;
	margin:auto;
	font-family:monaco, consolas, "source code pro", monospace;
}

div.monospace_text
{
	display:inline-block;
	white-space: nowrap;
	background-color:#EEEEEE;
	border:1px solid #999999;
	padding:0px 2px 0px 2px;
	margin:auto;
	font-family:monaco, consolas, "source code pro", monospace;
}

.indentedDiv
{
	margin-left: 10px;
}