QTableView {
  border: none;
}

QListWidget {
  border: none;
}

QListWidget#controlListBox_listWidget {
  border: none;
}

QCheckBox#entityDefinition_checkboxWidget {
  margin-left: 11px;
}

QToolButton#toolButton_borderless {
  border: none;
}

QToolButton#toolButton_borderOnCheck {
  border: none;
}

QToolButton#toolButton_borderOnCheck:checked {
  border: 1px solid black;
}

QToolButton#toolButton_borderless::menu-indicator {
 image: none;
}
