QTableView {
  border: none;
}

QListWidget {
  border: none;
}

QListWidget#controlListBox_listWidget {
  border: none;
}

QCheckBox#entityDefinition_checkboxWidget {
  margin-left: 11px;
}

QToolButton#toolButton_borderless {
  border: none;
}
