#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=TrenchBroom
MimeTypes=text/plain;
Basenames=*.map;

# Exec=/opt/TrenchBroom/TrenchBroom %U
# Icon=/opt/TrenchBroom/Resources/Icon.png

Exec=/home/kristian/Documents/TrenchBroom/Linux/bin/Debug/TrenchBroom %U
Icon=/home/kristian/Documents/TrenchBroom/Linux/bin/Debug/Resources/Icon.png
