body {
	font-family: Helvetica, Arial, DejaVu sans, sans-serif;
	text-align: center;
}

p, div {
	font-size: 12pt;
}

p {
	margin-bottom: 20px;
	text-align: justify;
}

p.subtitle {
	text-indent: 0px;
	text-align: center;
	margin: 0px;
	color: gray;
}

p.no-indent {
	text-indent: 0px;
}

h1 {
	margin-bottom: 0px;
}

h2 {
	text-align: left;
}

h3 {
	text-align: left;
}

div.screenshot {
	text-align: center;
}

div.screenshot img {
	padding: 20px;
	border-radius: 10px;
	background-color: #dddddd;
}

div.video {
	text-align: center;
}

div.video iframe {
	padding: 20px;
	border-radius: 10px;
	background-color: #dddddd;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div#container {
	width: 1024px;
	margin: 60px auto;
}

div#content {
	text-align: left;
}

div.platforms {

}

div.platforms  h2 {
	text-align: center;
}

div.platforms  ul {
	text-align: center;
	list-style-type: none;
}

div.platforms ul a {
	color: rgb(235,125,0);
}
div.downloads {
	background-color: #dddddd;
	border-radius: 10px;
	padding: 20px;
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
}

div.downloads  h2 {
	margin-top: 0px;
	text-align: center;
}

div.downloads  h3 {
	margin-top: 30px;
	margin-bottom: 2px;
	border-bottom: 2px solid gray;
}

div.downloads a {
	color: #0B5F19;
}

div.requirements {
	border: 2px solid #74100D;
	background-color: #FFA7A5;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
}

div.requirements h3 {
	margin: 0px;
	margin-bottom: 2px;
	border-bottom: 0px;
	text-align: center;
}

div.requirements a {
	color: #74100D;
}

div.requirements ul {
	margin: 0px;
}

div.releases {
	background-color: #cccccc;
	padding: 10px 20px 20px 20px;
	margin-top: 20px;
}

div.releases h2 {
	margin: 0px;
	padding: 0px;
}

div.latest {
	border: 2px solid #0B5F19;
	background-color: #83DE93;
	border-radius: 5px;
	padding: 10px;
}

div.latest h3 {
	margin: 0px;
	margin-bottom: 2px;
	border-bottom: 0px;
	display: inline;
}

div.latest a {
	color: #0B5F19;
}

hr {
	border: 1p solid gray;
}

ul.menu {
	color: gray;
	display: inline;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}

ul.menu li {
	display: inline;
	margin: 0 10px 0 10px;
	font-weight: bold;
}

ul.menu a {
	color: rgb(235,125,0);
}